@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97.69%;
    --foreground: 334 55% 1%;
    --muted: 0 0% 93.85%;
    --muted-foreground: 206.04 0% 50.77%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10.2%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 13.73%;
    --border: 0 0% 80.78%;
    --input: 0 0% 80.78%;
    --primary: 211.29 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 85.49%;
    --secondary-foreground: 334 0% 10%;
    --accent: 211.29 100% 50%;
    --accent-foreground: 334 0% 100%;
    --destructive: 3.19 100% 59.41%;
    --destructive-foreground: 18 0% 100%;
    --ring: 0 0% 60%;
    --radius: 0.5rem;
    --chart-1: 215 50% 33%;
    --chart-2: 42 69%, 51%;
    --chart-3: 181 32%, 50%;
    --chart-4: 8 62%, 60%;
    --chart-5: 0 0% 50%;
    --chart-6: 0 0% 75%;
    --chart-7: 209 31%, 66%;
    --chart-8: 48 94%, 58%;
    --chart-9: 236 25%, 27%;
    --chart-10: 0 1%, 75%;
    --chart-11: 42 69%, 51%;
    --chart-12: 8 62%, 60%;
    --chart-13: 208 17%, 21%;
    --chart-14: 30 78%, 58%;
    --chart-15: 4 99%, 65%;
    --chart-16: 37 12%, 35%;
    --chart-17: 33 29%, 57%;
    --chart-18: 38 87%, 77%;
    --sidebar-background: 0 0% 97.69%;
    --sidebar-foreground: 334 55% 1%;
    --sidebar-primary: 211.29 100% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 211.29 100% 50%;
    --sidebar-accent-foreground: 334 0% 100%;
    --sidebar-border: 0 0% 80.78%;
    --sidebar-ring: 0 0% 60%;
  }

  .dark {
    --background: 0 0% 97.69%;
    --foreground: 334 55% 1%;
    --muted: 0 0% 93.85%;
    --muted-foreground: 206.04 0% 50.77%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10.2%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 13.73%;
    --border: 0 0% 80.78%;
    --input: 0 0% 80.78%;
    --primary: 211.29 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 85.49%;
    --secondary-foreground: 334 0% 10%;
    --accent: 211.29 100% 50%;
    --accent-foreground: 334 0% 100%;
    --destructive: 3.19 100% 59.41%;
    --destructive-foreground: 18 0% 100%;
    --ring: 0 0% 60%;
    --radius: 0.5rem;
    --chart-1: 215 50% 33%;
    --chart-2: 42 69%, 51%;
    --chart-3: 181 32%, 50%;
    --chart-4: 8 62%, 60%;
    --chart-5: 0 0% 50%;
    --chart-6: 0 0% 75%;
    --chart-7: 209 31%, 66%;
    --chart-8: 48 94%, 58%;
    --chart-9: 236 25%, 27%;
    --chart-10: 0 1%, 75%;
    --chart-11: 42 69%, 51%;
    --chart-12: 8 62%, 60%;
    --chart-13: 208 17%, 21%;
    --chart-14: 30 78%, 58%;
    --chart-15: 4 99%, 65%;
    --chart-16: 37 12%, 35%;
    --chart-17: 33 29%, 57%;
    --chart-18: 38 87%, 77%;
    --sidebar-background: 0 0% 97.69%;
    --sidebar-foreground: 334 55% 1%;
    --sidebar-primary: 211.29 100% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 211.29 100% 50%;
    --sidebar-accent-foreground: 334 0% 100%;
    --sidebar-border: 0 0% 80.78%;
    --sidebar-ring: 0 0% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 30px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position:
      0% 0%,
      50% 50%,
      100% 50%;
  }
  40% {
    background-position:
      0% 100%,
      50% 0%,
      100% 50%;
  }
  60% {
    background-position:
      0% 50%,
      50% 100%,
      100% 0%;
  }
  80% {
    background-position:
      0% 50%,
      50% 50%,
      100% 100%;
  }
}
